$titulo: (
  color: rgb(121, 66, 69),
  font-family: "lexend",
  animation: zoomIn,
  animation-duration: 1s,
);
* {
  margin: 0;
  padding: 0;
}
ul {
  font-family: "lexend";
  background-color: rgb(225, 206, 178);
  color: rgb(121, 66, 69);
  font-weight: bolder;
  line-height: 50px;
  font-size: 110%;
  z-index: 3;
  #color {
    color: rgb(121, 66, 69);
  }
  @media screen and (max-width: 991px) {
    .chau {
      display: none;
    }
  }
  ul {
    position: absolute;
    display: none;
    font-size: 100%;
    li {
      &:hover {
        background-color: rgb(180, 154, 127);
        #color {
          color: rgb(121, 66, 69);
        }
      }
    }
  }
  li {
    position: relative;
    &:hover ul {
      display: block;
    }
    a {
      color: rgb(121, 66, 69);
      text-decoration: none;
    }
  }
  .header__productos {
    li {
      display: block;
      background-color: rgb(221, 183, 149);
      color: rgb(121, 66, 69);
      font-size: 100%;
      width: 180%;
      padding: 10% 10% 10% 20%;
      margin-left: -20%;
      z-index: 4;
      transition: background-color 0.25s;
    }
  }
  .header__recetas {
    li {
      display: block;
      background-color: rgb(221, 183, 149);
      color: rgb(121, 66, 69);
      font-size: 100%;
      width: 200%;
      padding: 10% 10% 10% 20%;
      margin-left: -20%;
      z-index: 4;
      transition: background-color 0.25s;
    }
  }
}
.border {
  padding-top: 13%;
}
@media screen and (max-width: 767px) {
  .border {
    padding-top: 55%;
  }
}
main {
  .slide {
    animation: fadeInUp;
    animation-duration: 1s;
  }
  div {
    h2 {
      color: map-get($titulo, color);
      font-family: map-get($titulo, font-family);
      animation: map-get($titulo, animation);
      animation-duration: map-get($titulo, animation-duration);
    }
    div {
      .recetas {
        border: 2px solid rgb(121, 66, 69);
        animation: fadeInLeft;
        animation-duration: 1s;
      }
      ul {
        list-style-image: url("../Images/recetas/spoon.png");
      }
      .recipe__ingredients--list {
        line-height: 200%;
        font-family: "lexend";
        color: dimgray;
        animation: fadeInRight;
        animation-duration: 1s;
        background-color: white;
      }
    }
    h3 {
      color: map-get($titulo, color);
      font-family: map-get($titulo, font-family);
    }
    #recetita {
      color: map-get($titulo, color);
      font-family: map-get($titulo, font-family);
      background-color: white;
      font-size: 140%;
    }
    ol {
      line-height: 200%;
      font-family: "lexend";
      color: dimgray;
      font-size: 100%;
      text-align: justify;
    }
  }
}
footer {
  background-color: rgb(221, 183, 149);
  h6 {
    color: rgb(121, 66, 69);
    font-family: "lexend";
    font-size: 130%;
  }
  h7 {
    color: rgb(121, 66, 69);
    font-family: "lexend";
    font-size: 90%;
  }
}
