.base, main section h4, main section div h2, main section div h5, main section div div article h3 {
  color: #ddb795;
  font-family: "lexend";
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  font-family: "lexend";
  background-color: #e1ceb2;
  color: #794245;
  font-weight: bolder;
  line-height: 50px;
  font-size: 110%;
  z-index: 3;
}

ul #color {
  color: #794245;
}

@media screen and (max-width: 991px) {
  ul .chau {
    display: none;
  }
}

ul ul {
  position: absolute;
  display: none;
  font-size: 100%;
}

ul ul li:hover {
  background-color: #b49a7f;
}

ul ul li:hover #color {
  color: #794245;
}

ul li {
  position: relative;
}

ul li:hover ul {
  display: block;
}

ul li a {
  color: #794245;
  text-decoration: none;
}

ul .header__productos li {
  display: block;
  background-color: #ddb795;
  color: #794245;
  font-size: 100%;
  width: 180%;
  padding: 10% 10% 10% 20%;
  margin-left: -20%;
  z-index: 4;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

ul .header__recetas li {
  display: block;
  background-color: #ddb795;
  color: #794245;
  font-size: 100%;
  width: 200%;
  padding: 10% 10% 10% 20%;
  margin-left: -20%;
  z-index: 4;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.bordery {
  padding-top: 8%;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .bordery {
    padding-top: 10%;
  }
}

@media screen and (max-width: 767px) {
  .bordery {
    padding-top: 55%;
  }
}

.space {
  padding-top: 3%;
  color: #e1ceb2;
  background-color: #e1ceb2;
}

.space2 {
  padding-top: 3%;
  color: white;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .space {
    padding-top: 12%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
  .space2 {
    padding-top: 12%;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .space {
    padding-top: 11%;
  }
  .space2 {
    padding-top: 11%;
    padding-bottom: 0;
  }
}

main .description {
  display: none;
}

@media screen and (max-width: 767px) {
  main .description {
    margin-top: 3%;
    margin-bottom: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #794245;
    color: #ddb795;
    font-family: "lexend";
  }
}

main .fondo {
  background-color: #e1ceb2;
}

main .gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#e1ceb2));
  background-image: linear-gradient(to bottom, white, #e1ceb2);
}

main section .space {
  padding-top: 3%;
  color: #e1ceb2;
  background-color: #e1ceb2;
}

main section .space2 {
  padding-top: 3%;
  color: white;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  main section .space {
    padding-top: 12%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
  main section .space2 {
    padding-top: 12%;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  main section .space {
    padding-top: 11%;
  }
  main section .space2 {
    padding-top: 11%;
    padding-bottom: 0;
  }
}

main section h4 {
  background-color: #794245;
}

main section div h2 {
  color: #794245;
}

main section div h5 {
  line-height: 40px;
  background-color: #794245;
}

main section div h5 a {
  text-decoration: none;
  color: #ddb795;
}

main section div h5 #color2 {
  color: #ddb795;
}

main section div div .foto__fini {
  border-radius: 250px;
  width: 60%;
}

main section div div article h3 {
  color: #794245;
}

main section div div article p {
  text-align: justify;
  color: dimgray;
  font-family: "lexend";
}

main section div div div .contacto__datos {
  font-weight: bold;
  color: dimgray;
  font-family: "lexend";
  line-height: 250%;
  font-size: 100%;
}

@media screen and (min-width: 767px) and (max-width: 1024px) and (orientation: landscape) {
  main section div div div .contacto__datos {
    font-size: 90%;
  }
}

main section div div div ul {
  background-color: white;
  line-height: 200%;
}

main section div div div ul .contacto__datos--whatsapp {
  list-style-image: url("../Images/wapp-lista.png");
}

main section div div div ul .contacto__datos--mail {
  list-style-image: url("../Images/mail-lista.png");
}

main section div div div ul .contacto__datos--pickup {
  list-style-image: url("../Images/pin-lista.png");
}

main section div div div ul .contacto__datos--auto {
  list-style-image: url("../Images/car-lista.png");
}

main section div div div ul .contacto__datos--pago {
  list-style-image: url("../Images/card-lista.png");
}

main section div div div .contacto__map {
  border: solid 3px #794245;
  width: 90%;
}

main section div div div form .contacto__form {
  width: 100%;
  border: solid dimgray 1px;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  main section div div div form div .description {
    margin-top: 3%;
    margin-bottom: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #794245;
    color: #ddb795;
    font-family: "lexend";
  }
}

main section div div div form div .captions {
  display: none;
}

main section div div div form div .contacto__form {
  width: 100%;
  border: solid dimgray 1px;
  border-radius: 5px;
}

main section div div div form div label {
  color: #794245;
  font-family: "lexend";
  font-weight: bold;
}

main section div div div form .button {
  font-family: "lexend";
  color: dimgray;
  font-weight: bold;
  background-color: #e1ceb2;
  border: solid 2px #e1ceb2;
  border-radius: 4px;
  margin-left: 72%;
}

main section div div div div div p {
  text-align: justify;
  color: dimgray;
  font-family: "lexend";
}

footer {
  background-color: #ddb795;
}

footer h6 {
  color: #794245;
  font-family: "lexend";
  font-size: 130%;
}

footer h7 {
  color: #794245;
  font-family: "lexend";
  font-size: 90%;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  font-family: "lexend";
  background-color: #e1ceb2;
  color: #794245;
  font-weight: bolder;
  line-height: 50px;
  font-size: 110%;
  z-index: 3;
}

ul #color {
  color: #794245;
}

@media screen and (max-width: 991px) {
  ul .chau {
    display: none;
  }
}

ul ul {
  position: absolute;
  display: none;
  font-size: 100%;
}

ul ul li:hover {
  background-color: #b49a7f;
}

ul ul li:hover #color {
  color: #794245;
}

ul li {
  position: relative;
}

ul li:hover ul {
  display: block;
}

ul li a {
  color: #794245;
  text-decoration: none;
}

ul .header__productos li {
  display: block;
  background-color: #ddb795;
  color: #794245;
  font-size: 100%;
  width: 180%;
  padding: 10% 10% 10% 20%;
  margin-left: -20%;
  z-index: 4;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

ul .header__recetas li {
  display: block;
  background-color: #ddb795;
  color: #794245;
  font-size: 100%;
  width: 200%;
  padding: 10% 10% 10% 20%;
  margin-left: -20%;
  z-index: 4;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.border {
  padding-top: 13%;
}

@media screen and (max-width: 767px) {
  .border {
    padding-top: 55%;
  }
}

main div h2 {
  color: #794245;
  font-family: lexend;
  -webkit-animation: zoomIn;
          animation: zoomIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div div p {
  text-align: justify;
  color: dimgray;
  font-family: "lexend";
  -webkit-animation: fadeInRight;
          animation: fadeInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div div .producto {
  border: solid 2px #794245;
}

main div div .display {
  -webkit-animation: fadeInLeft;
          animation: fadeInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div div h3 {
  font-weight: bold;
  color: #794245;
  font-family: lexend;
  -webkit-animation: zoomIn;
          animation: zoomIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

footer {
  background-color: #ddb795;
}

footer h6 {
  color: #794245;
  font-family: "lexend";
  font-size: 130%;
}

footer h7 {
  color: #794245;
  font-family: "lexend";
  font-size: 90%;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  font-family: "lexend";
  background-color: #e1ceb2;
  color: #794245;
  font-weight: bolder;
  line-height: 50px;
  font-size: 110%;
  z-index: 3;
}

ul #color {
  color: #794245;
}

@media screen and (max-width: 991px) {
  ul .chau {
    display: none;
  }
}

ul ul {
  position: absolute;
  display: none;
  font-size: 100%;
}

ul ul li:hover {
  background-color: #b49a7f;
}

ul ul li:hover #color {
  color: #794245;
}

ul li {
  position: relative;
}

ul li:hover ul {
  display: block;
}

ul li a {
  color: #794245;
  text-decoration: none;
}

ul .header__productos li {
  display: block;
  background-color: #ddb795;
  color: #794245;
  font-size: 100%;
  width: 180%;
  padding: 10% 10% 10% 20%;
  margin-left: -20%;
  z-index: 4;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

ul .header__recetas li {
  display: block;
  background-color: #ddb795;
  color: #794245;
  font-size: 100%;
  width: 200%;
  padding: 10% 10% 10% 20%;
  margin-left: -20%;
  z-index: 4;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.border {
  padding-top: 13%;
}

@media screen and (max-width: 767px) {
  .border {
    padding-top: 55%;
  }
}

main div h2 {
  color: #794245;
  font-family: lexend;
  -webkit-animation: zoomIn;
          animation: zoomIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div div p {
  text-align: justify;
  color: dimgray;
  font-family: "lexend";
  -webkit-animation: zoomIn;
          animation: zoomIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div div .producto {
  border: solid 2px #794245;
}

main div div .display1 {
  -webkit-animation: fadeInLeft;
          animation: fadeInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div div .display2 {
  -webkit-animation: fadeInRight;
          animation: fadeInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div div h3 {
  font-weight: bold;
  color: #794245;
  font-family: lexend;
  -webkit-animation: zoomIn;
          animation: zoomIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div div ol {
  color: dimgray;
  font-family: lexend;
  font-size: 95%;
  line-height: 220%;
  -webkit-animation: zoomIn;
          animation: zoomIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div h4 {
  background-color: #794245;
  color: #ddb795;
  font-family: lexend;
  line-height: 200%;
  font-size: 100%;
  -webkit-animation: zoomIn;
          animation: zoomIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

footer {
  background-color: #ddb795;
}

footer h6 {
  color: #794245;
  font-family: "lexend";
  font-size: 130%;
}

footer h7 {
  color: #794245;
  font-family: "lexend";
  font-size: 90%;
}

ul {
  font-family: "lexend";
  background-color: #e1ceb2;
  color: #794245;
  font-weight: bolder;
  line-height: 50px;
  font-size: 110%;
  z-index: 3;
}

ul #color {
  color: #794245;
}

@media screen and (max-width: 991px) {
  ul .chau {
    display: none;
  }
}

ul ul {
  position: absolute;
  display: none;
  font-size: 100%;
}

ul ul li:hover {
  background-color: #b49a7f;
}

ul ul li:hover #color {
  color: #794245;
}

ul li {
  position: relative;
}

ul li:hover ul {
  display: block;
}

ul li a {
  color: #794245;
  text-decoration: none;
}

ul .header__productos li {
  display: block;
  background-color: #ddb795;
  color: #794245;
  font-size: 100%;
  width: 180%;
  padding: 10% 10% 10% 20%;
  margin-left: -20%;
  z-index: 4;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

ul .header__recetas li {
  display: block;
  background-color: #ddb795;
  color: #794245;
  font-size: 100%;
  width: 200%;
  padding: 10% 10% 10% 20%;
  margin-left: -20%;
  z-index: 4;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.border {
  padding-top: 13%;
}

@media screen and (max-width: 767px) {
  .border {
    padding-top: 55%;
  }
}

main .aparecer {
  visibility: visible;
}

main .slide {
  -webkit-animation: slideInUp;
          animation: slideInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div #precioFinal {
  color: #794245;
  font-family: "lexend";
  -webkit-animation: zoomIn;
          animation: zoomIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div table .boton {
  text-align: center;
  font-family: "lexend";
  padding-left: 15%;
  padding-right: 15%;
  color: dimgray;
  font-weight: bold;
  background-color: #e1ceb2;
  border: solid 2px #e1ceb2;
  border-radius: 4px;
  text-decoration: none;
  line-height: 200%;
  margin-top: 20%;
}

main div h2 {
  color: #794245;
  font-family: "lexend";
  -webkit-animation: zoomIn;
          animation: zoomIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div div div .tabla {
  color: dimgray;
  font-weight: bolder;
  font-family: "lexend";
  padding-top: 5;
  line-height: 120%;
}

main div div .tortas {
  border: solid 1px #794245;
}

main div div .boton {
  font-family: "lexend";
  color: dimgray;
  font-weight: bold;
  background-color: #e1ceb2;
  border: solid 2px #e1ceb2;
  border-radius: 4px;
  text-decoration: none;
  line-height: 200%;
  padding-left: 2%;
  padding-right: 2%;
}

main div div h5 {
  font-weight: bold;
  color: #794245;
  font-family: "lexend";
  font-size: 140%;
}

main div div h3 {
  font-weight: bold;
  color: #794245;
  font-family: "lexend";
  font-size: 140%;
}

main div div h3 a {
  text-decoration: none;
  color: #794245;
}

main div div h3 #size {
  font-size: 75%;
  color: #794245;
}

main div div h3 #color {
  color: #794245;
}

@media screen and (max-width: 767px) {
  main div div h3 #size {
    font-size: 100%;
  }
}

@media screen and (min-width: 767px) and (max-width: 950px) {
  main div div h3 #size {
    font-size: 75%;
  }
}

@media screen and (min-width: 767px) and (max-width: 950px) {
  main div div h3 {
    font-size: 100%;
  }
}

footer {
  background-color: #ddb795;
}

footer h6 {
  color: #794245;
  font-family: "lexend";
  font-size: 130%;
}

footer h7 {
  color: #794245;
  font-family: "lexend";
  font-size: 90%;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  font-family: "lexend";
  background-color: #e1ceb2;
  color: #794245;
  font-weight: bolder;
  line-height: 50px;
  font-size: 110%;
  z-index: 3;
}

ul #color {
  color: #794245;
}

@media screen and (max-width: 991px) {
  ul .chau {
    display: none;
  }
}

ul ul {
  position: absolute;
  display: none;
  font-size: 100%;
}

ul ul li:hover {
  background-color: #b49a7f;
}

ul ul li:hover #color {
  color: #794245;
}

ul li {
  position: relative;
}

ul li:hover ul {
  display: block;
}

ul li a {
  color: #794245;
  text-decoration: none;
}

ul .header__productos li {
  display: block;
  background-color: #ddb795;
  color: #794245;
  font-size: 100%;
  width: 180%;
  padding: 10% 10% 10% 20%;
  margin-left: -20%;
  z-index: 4;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

ul .header__recetas li {
  display: block;
  background-color: #ddb795;
  color: #794245;
  font-size: 100%;
  width: 200%;
  padding: 10% 10% 10% 20%;
  margin-left: -20%;
  z-index: 4;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.border {
  padding-top: 13%;
}

@media screen and (max-width: 767px) {
  .border {
    padding-top: 55%;
  }
}

main .slide {
  -webkit-animation: fadeInUp;
          animation: fadeInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div h2 {
  color: #794245;
  font-family: "lexend";
  -webkit-animation: zoomIn;
          animation: zoomIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div div .recetas {
  border: 2px solid #794245;
  -webkit-animation: fadeInLeft;
          animation: fadeInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div div ul {
  list-style-image: url("../Images/recetas/spoon.png");
}

main div div .recipe__ingredients--list {
  line-height: 200%;
  font-family: "lexend";
  color: dimgray;
  -webkit-animation: fadeInRight;
          animation: fadeInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  background-color: white;
}

main div h3 {
  color: #794245;
  font-family: "lexend";
}

main div #recetita {
  color: #794245;
  font-family: "lexend";
  background-color: white;
  font-size: 140%;
}

main div ol {
  line-height: 200%;
  font-family: "lexend";
  color: dimgray;
  font-size: 100%;
  text-align: justify;
}

footer {
  background-color: #ddb795;
}

footer h6 {
  color: #794245;
  font-family: "lexend";
  font-size: 130%;
}

footer h7 {
  color: #794245;
  font-family: "lexend";
  font-size: 90%;
}

ul {
  font-family: "lexend";
  background-color: #e1ceb2;
  color: #794245;
  font-weight: bolder;
  line-height: 50px;
  font-size: 110%;
  z-index: 3;
}

ul #color {
  color: #794245;
}

@media screen and (max-width: 991px) {
  ul .chau {
    display: none;
  }
}

ul ul {
  position: absolute;
  display: none;
  font-size: 100%;
}

ul ul li:hover {
  background-color: #b49a7f;
}

ul ul li:hover #color {
  color: #794245;
}

ul li {
  position: relative;
}

ul li:hover ul {
  display: block;
}

ul li a {
  color: #794245;
  text-decoration: none;
}

ul .header__productos li {
  display: block;
  background-color: #ddb795;
  color: #794245;
  font-size: 100%;
  width: 180%;
  padding: 10% 10% 10% 20%;
  margin-left: -20%;
  z-index: 4;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

ul .header__recetas li {
  display: block;
  background-color: #ddb795;
  color: #794245;
  font-size: 100%;
  width: 200%;
  padding: 10% 10% 10% 20%;
  margin-left: -20%;
  z-index: 4;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.border {
  padding-top: 13%;
}

@media screen and (max-width: 767px) {
  .border {
    padding-top: 55%;
  }
}

main div h2 {
  color: #794245;
  font-family: "lexend";
  -webkit-animation: zoomIn;
          animation: zoomIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div .receta1 {
  -webkit-animation: fadeInLeft;
          animation: fadeInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div .receta2 {
  -webkit-animation: fadeInRight;
          animation: fadeInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

main div div .receta {
  border: 2px solid #794245;
}

main div div h3 {
  font-weight: bold;
  color: #794245;
  font-family: "lexend";
  font-size: 140%;
}

main div div h3 a {
  text-decoration: none;
  color: #794245;
}

main div div h3 #color {
  color: #794245;
}

main div div p {
  text-align: justify;
  font-weight: bold;
  color: dimgray;
  font-family: "lexend";
}

footer {
  background-color: #ddb795;
}

footer h6 {
  color: #794245;
  font-family: "lexend";
  font-size: 130%;
}

footer h7 {
  color: #794245;
  font-family: "lexend";
  font-size: 90%;
}
/*# sourceMappingURL=estilos.css.map */